/********************************************************************************
Rain CSS Coding Standards outlined at http://standards.mediarain.com/html-css

	@Section: Applies to all page sections
	**Search for @ symbol or @Section: to search by category

	Color Reference:
    	white: #FFFFFF
    	black: #000000
    	 gray: #333333

	Font-Family Reference:
	

********************************************************************************/



/************************************

	@Search: Global

************************************/


body {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #baa583 40%, #baa583 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(40%,#baa583), color-stop(100%,#baa583)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#baa583',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* W3C */
	color: #000000;
	font-family: helvetica;
	font-size: 12px;
	height: 100%;
	behavior: url(../PIE.htc);
}
a {
	text-decoration: none;
	outline: none;
	overflow: hidden;
	color: #ffffff;
}
a:hover {
	text-decoration: none;
	outline: none;
	overflow: hidden;
}
a:active {
	text-decoration: none;
	outline: none;
	overflow: hidden;
}
a:visited {
	text-decoration: none;
	outline: none;
	overflow: hidden;
}
sup { font-size: 60%; vertical-align: top;}
.clear { clear: both; display: block;}


/*******************************************

	@Section: Type

*******************************************/


b { font-weight: 700;}
em { font-style: oblique;}
h1 {
}
h2 {
}
h3 {
}
p {	
}


/*******************************************

	@Section: Forms

*******************************************/


form {
}


/*******************************************

	@Section: Header

*******************************************/


div#header-container {
	background: url(../img/header-bg.png) no-repeat center 0px;
	min-width: 1024px;
	position: relative;
	z-index: 10;
}
header {
	width: 1024px;
	height: 160px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
header a#logo {
	text-indent: -9999px;
	display: block;
	width: 442px;
	height: 50px;
	margin: 10px auto 0px;
}


/*******************************************

	@Section: Navigation

*******************************************/


#main-nav {
	width: 510px;
	margin: auto;
	position: relative;
}
#main-nav li {
	float: left;
	margin-left: 100px;
}
#main-nav li:first-child { margin-left: 0px;}
#main-nav li a {
	background: url(../img/main-nav.png) no-repeat;
	display: block;
	text-indent: -9999px;
	position: absolute;
}
#main-nav #nav-1 a {
	width: 85px;
	height: 50px;
	top: 17px;
	left: 0px;
	background-position: 8px 6px;
}
#main-nav #nav-1 a:hover, #main-nav #nav-1.current a { background: url(../img/main-nav.png) no-repeat 8px -44px;}
#main-nav #nav-2 a {
	width: 95px;
	height: 57px;
	top: 27px;
	left: 130px;
	background-position: -110px -4px;
}
#main-nav #nav-2 a:hover, #main-nav #nav-2.current a { background: url(../img/main-nav.png) no-repeat -110px -54px;}
#main-nav #nav-3 a {
	width: 94px;
	height: 57px;
	top: 29px;
	left: 272px;
	background-position: -271px -5px;
}
#main-nav #nav-3 a:hover, #main-nav #nav-3.current a { background: url(../img/main-nav.png) no-repeat -271px -55px;}
#main-nav #nav-4 a {
	width: 102px;
	height: 51px;
	top: 17px;
	right: 0px;
	background-position: -412px 8px;
}
#main-nav #nav-4 a:hover, #main-nav #nav-4.current a { background: url(../img/main-nav.png) no-repeat -412px -42px;}


/*******************************************

	@Section: Footer

*******************************************/


footer {
	width: 715px;
	margin: auto;
	position: relative;
	padding-bottom: 30px;
	font-size: 14px;
}
footer ul#footer-nav li {
	float: left;
	margin-left: 10px;
}
footer p {
	float: left;
	margin-right: 50px;
}
footer ul#footer-nav li:first-child, footer ul#footer-nav li:first-child a { margin-left: 0px;}
footer ul#footer-nav li a {
	color: #000000;
	margin-left: 10px;
}
footer ul#footer-nav li a:hover { text-decoration: underline; }


/*******************************************

	@Section: Home Page Content

*******************************************/


div#content {
	width: 809px;
	margin: auto;
	height: 900px;
	position: relative;
	z-index: 0;
}
ul.image-carousel {
	width: 761px;
	height: 466px;
	margin: -65px auto 50px;
	position: relative;
}
ul.image-carousel li {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 8;
}
ul.image-carousel li.active{
	z-index: 10;
	display: block;
}
ul.image-carousel li.last-active{
	z-index: 9;
	position: absolute;
	top: 0px;
	left: 0px;
}
#home div#content p.intro-p {
	background: url(../img/text-homePage.png) no-repeat;
	display: block;
	width: 809px;
	height: 230px;
	text-indent: -99999px;
}


/*******************************************

	@Section: Home Page Content

*******************************************/


#services ul.services-list{
	width: 650px;
	margin: 60px auto 20px;
}
#services ul.services-list li {
	line-height: 1.4;
	margin-top: 25px;
	padding: 30px 25px 0;
	border-top: 1px solid #000000;
}
#services ul.services-list li:first-child {
	border: none;
	margin-top: 0px;
	padding: 1px 25px 0px;
}
#services ul.services-list li a.services-thumbnail {
	float: left;
	margin-right: 30px;
}
#services ul.services-list p a {
	color: #000000;
	font-weight: bold;
}
#services ul.services-list p a:hover { text-decoration: underline;}
#services ul.services-list li.flowers h3 a {
	background: url(../img/header-flowers-1.png) no-repeat;
	display: block;
	width: 147px;
	height: 40px;
	text-indent: -9999px;
	margin: 10px 0px 15px;
}
#services ul.services-list li.backdrops h3 a {
	background: url(../img/header-backdrops-1.png) no-repeat;
	display: block;
	width: 172px;
	height: 50px;
	text-indent: -9999px;
	margin: 10px 0px 15px;
}
#services ul.services-list li.linens h3 a {
	background: url(../img/header-linens-1.png) no-repeat;
	display: block;
	width: 114px;
	height: 28px;
	text-indent: -9999px;
	margin: 10px 0px 15px;
}


/*******************************************

	@Section: Gallery Page

*******************************************/


ul.ad-thumb-list { list-style-image:url(list-style.gif);}
pre {
	font-family: "Lucida Console", "Courier New", Verdana;
	border: 1px solid #CCC;
	background: #f2f2f2;
	padding: 10px;
}
#gallery {
	border: 1px solid #000000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 30px 100px;
	margin: 25px auto 75px;
	box-shadow: 0px 5px 12px #000000;
	-moz-box-shadow: 0px 5px 12px #000000;
	-webkit-box-shadow: 0px 5px 12px #000000;
	behavior: url(PIE.htc);
}


/*******************************************

	@Section: Gallery Page

*******************************************/


#contact-us #content {
	margin-top: 80px;
}
#contact-us #content .column-1 {
	float: left;
	width: 500px;
}
#contact-us #content .column-2 {
	background: url(../img/contact-img-1.jpg) no-repeat;
	width: 300px;
	height: 389px;
	float: right;
}