/********************************************************************************

	@Section: Applies to all page sections
	**Search for @ symbol or @Section: to search by category

	Color Reference:
    	white: #FFFFFF
    	black: #000000
    	 gray: #333333

	Font Reference:
	Rosario
	Antic
	sans-serif

********************************************************************************/
/************************************

	@Section: Global

************************************/

html {
	background: #BAA583; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #baa583 40%, #baa583 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(40%,#baa583), color-stop(100%,#baa583)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#baa583',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* W3C */
	behavior: url(/PIE.htc);
}
body {
	color: #000000;
	font-size: 12px;
	height: 100%;
	font-family: 'Rosario', sans-serif;
	/* Gradient Background - cross browser compliant */
	background: #BAA583; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #baa583 40%, #baa583 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(40%,#baa583), color-stop(100%,#baa583)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#baa583',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#baa583 40%,#baa583 100%); /* W3C */
	behavior: url(/PIE.htc);
}
a { color: #000000;}
a, a:hover, a:active, a:visited {
	text-decoration: none;
	outline: none;
	overflow: hidden;
}
a.basic-link:hover { text-decoration: underline;}
sup { font-size: 60%; vertical-align: top;}
.clear { clear: both; display: block;}
b, strong { font-weight: 700;}
em { font-style: oblique;}
.small { font-size: 64%; margin-top: -10px;}
hr {
	width: 60px;
	margin: 3px auto;
	border-top: 1px solid #909090;
	border-left: 1px solid #909090;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.frame {
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 1000;
}
#rpt-rose-right {
	background: url(../img/rose-12.png) repeat-y 0 -8px;
	right: 0;
	width: 120px;
}
#rpt-rose-left {
	background: url(../img/rose-11.png) repeat-y 0 -8px;
	left: 0;
	width: 120px;
}
#rpt-red-ribbon-right {
	background: url(../img/rpt-red-ribbon-right.png) repeat-y 0 65px;
	background-size: 95px;
	right: 0;
	width: 95px;
}
#rpt-red-ribbon-left {
	background: url(../img/rpt-red-ribbon-left.png) repeat-y 0 65px;
	background-size: 95px;
	left: 0;
	width: 95px;
}
#rpt-gold-ribbon-right {
	background: url(../img/rpt-gold-ribbon-right.png) repeat-y 0 65px;
	background-size: 95px;
	right: 0;
	width: 95px;
}
#rpt-gold-ribbon-left {
	background: url(../img/rpt-gold-ribbon-left.png) repeat-y 0 65px;
	background-size: 95px;
	left: 0;
	width: 95px;
}
.background {
	background: #ffffff;
	width: 750px;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.6;
	filter: alpha(opacity=60);
	filter: “alpha(opacity=60)”;
	-moz-box-shadow: 0 0 20px #ffffff;
	-webkit-box-shadow: 0 0 20px #ffffff;
	box-shadow: 0 0 20px #ffffff;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	behavior: url(/PIE.htc);
}

/*******************************************

	@Section: Forms

*******************************************/

#contact-us form {
	clear: both;
	margin-bottom: 80px;
	padding-top: 50px;
}
#contact-us form .section-one {
	width: 335px;
	float: left;
	margin-bottom: 15px;
}
#contact-us form .section-two {
	width: 455px;
	margin: 5px 0 15px 0;
	float: right;
}
.form-field-1 { margin-bottom: 7px;}
.form-field-1 label {
	width: 110px;
	padding: 5px 0 0;
	display: block;
	float: left;
	font-weight: bold;
	text-align: right;
	margin-right: 5px;
}
.form-field-1 input { width: 200px;}
#contact-us form input.submit { margin-top: 10px; width: 75px;}
#contact-us form .section-two p { margin-bottom: 25px;}
.form-field-2 {
	float: left;
	width: 150px;
	margin-bottom: 8px;
}
span#sprytextarea_comments { display: block; clear: both;}
span#sprytextarea_comments label { display: block; font-weight: bold;}
span#sprytextarea_comments textarea { width: 800px; resize: none; height: 100px;}
.textfieldRequiredMsg, .textfieldInvalidFormatMsg, .textfieldMinValueMsg, .textfieldMaxValueMsg, .textfieldMinCharsMsg, .textfieldMaxCharsMsg, .textfieldValidMsg { display: none;}
.textfieldRequiredState .textfieldRequiredMsg, .textfieldInvalidFormatState .textfieldInvalidFormatMsg, .textfieldMinValueState .textfieldMinValueMsg, .textfieldMaxValueState .textfieldMaxValueMsg, .textfieldMinCharsState .textfieldMinCharsMsg, .textfieldMaxCharsState .textfieldMaxCharsMsg {
    border: 1px solid #CC3333;
    color: #CC3333;
    display: inline;
}
.textfieldValidState input, input.textfieldValidState { background-color: #B8F5B1;}
input.textfieldRequiredState, .textfieldRequiredState input, input.textfieldInvalidFormatState, .textfieldInvalidFormatState input, input.textfieldMinValueState, .textfieldMinValueState input, input.textfieldMaxValueState, .textfieldMaxValueState input, input.textfieldMinCharsState, .textfieldMinCharsState input, input.textfieldMaxCharsState, .textfieldMaxCharsState input { background-color: #FF9F9F;}
.textfieldFocusState input, input.textfieldFocusState { background-color: #FFFFCC;}
.textfieldFlashText input, input.textfieldFlashText { color: red !important;}

/*******************************************

	@Section: Header

*******************************************/

#header-container {
	background: #000000 url(../img/header-bg-3.jpg) no-repeat center 0;
	min-width: 1024px;
	position: relative;
	z-index: 1001;
	-webkit-box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.6);
	-ms-box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.6);
	margin-top: -25px;
}
header {
	width: 1024px;
	height: 264px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
header a#logo {
	text-indent: -9999px;
	display: block;
	width: 442px;
	height: 50px;
	margin: 10px auto 0;
}

/*******************************************

	@Section: Navigation

*******************************************/

/*
#main-nav {
	width: 510px;
	margin: 182px auto 0;
	position: relative;
}
#main-nav li { float: left; margin-left: 100px;}
#main-nav li:first-child { margin-left: 0;}
#main-nav li a {
	background: url(../img/main-nav.png) no-repeat;
	display: block;
	text-indent: -9999px;
	position: absolute;
}
#main-nav #nav-1 a {
	width: 85px;
	height: 50px;
	top: 17px;
	left: 0;
	background-position: 8px 6px;
}
#main-nav #nav-1 a:hover, #main-nav #nav-1.current a { background: url(../img/main-nav.png) no-repeat 8px -44px;}
#main-nav #nav-2 a {
	width: 95px;
	height: 57px;
	top: 27px;
	left: 130px;
	background-position: -110px -4px;
}
#main-nav #nav-2 a:hover, #main-nav #nav-2.current a { background: url(../img/main-nav.png) no-repeat -110px -54px;}
#main-nav #nav-3 a {
	width: 94px;
	height: 57px;
	top: 29px;
	left: 272px;
	background-position: -271px -5px;
}
#main-nav #nav-3 a:hover, #main-nav #nav-3.current a { background: url(../img/main-nav.png) no-repeat -271px -55px;}
#main-nav #nav-4 a {
	width: 102px;
	height: 51px;
	top: 17px;
	right: 0;
	background-position: -412px 8px;
}
#main-nav #nav-4 a:hover, #main-nav #nav-4.current a { background: url(../img/main-nav.png) no-repeat -412px -42px;}
*/
#main-nav {
	width: 860px;
	margin: 157px auto 0;
}
#main-nav li {
	float: left;
	margin-left: 187px;
}
#main-nav li:first-child {
	margin-left: 0;
}
#main-nav li a {
	/* color: #baa583; */
	color: #ffffff;
	font-size: 24px;
	padding: 5px 0 15px;
	display: block;
}
#main-nav li a:hover,
#main-nav li.current a {
	color: #43b8ce;
}

/*******************************************

	@Section: Footer

*******************************************/

footer {
	width: 715px;
	margin: auto;
	position: relative;
	padding-bottom: 30px;
	font-size: 14px;
}
footer ul#footer-nav li { float: left; margin-left: 10px;}
footer p { float: left; margin-right: 46px;}
footer ul#footer-nav li:first-child, footer ul#footer-nav li:first-child a { margin-left: 0;}
footer ul#footer-nav li a { color: #000000; margin-left: 10px;}
footer ul#footer-nav li a:hover { text-decoration: underline;}

/*******************************************

	@Section: Home Page Content

*******************************************/

div#content {
	width: 809px;
	margin: auto;
	position: relative;
	z-index: 0;
}
ul.image-carousel {
	width: 761px;
	height: 466px;
	margin: -7px auto 50px;
	position: relative;
}
ul.image-carousel li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 8;
}
ul.image-carousel li.active{ z-index: 10; display: block;}
ul.image-carousel li.last-active{
	z-index: 9;
	position: absolute;
	top: 0;
	left: 0;
}
#home div#content p.intro-p {
	background: url(../img/text-homePage2.png) no-repeat;
	display: block;
	width: 805px;
	height: 205px;
	text-indent: -99999px;
	margin: 0 auto 60px;
}

.social-links {
	width: 333px;
	margin: 0 auto 80px;
}

.social-links:after {
	content: "";
	display: block;
	clear: both;
	float: none;
	height: 0;
	line-height: 0;
}

.social-links li {
	float: left;
	margin-left: 25px;
}

.social-links li:first-child { margin-left: 0; }

.social-links li a {
	display: block;
	width: 64px;
	height: 64px;
	text-indent: -9999px;
}

.social-links .facebook {
	background: url(../img/icon-facebook.png) no-repeat 0 0;
}

.social-links .twitter {
	background: url(../img/icon-twitter.png) no-repeat 0 0;
}

.social-links .pinterest {
	background: url(../img/icon-pinterest.png) no-repeat 0 0;
}

.social-links .weddings-r-us {
	background: url(../img/icon-foursquare.png) no-repeat 0 0;
}

/*******************************************

	@Section: Home Page Content

*******************************************/

#services ul.services-list{
	width: 650px;
	margin: 60px auto 75px;
}
#services ul.services-list li {
	line-height: 1.4;
	margin-top: 25px;
	padding: 30px 25px 0;
	border-top: 1px solid #000000;
	font-size: 15px;
}
#services ul.services-list li:first-child {
	border: none;
	margin-top: 0;
	padding: 1px 25px 0;
}
#services ul.services-list li a.services-thumbnail { float: left; margin-right: 30px;}
#services ul.services-list p a { color: #000000; font-weight: bold;}
#services ul.services-list p a:hover { text-decoration: underline;}
#services ul.services-list li h3 a {
	display: block;
	text-indent: -9999px;
	margin: 15px 0;
}
#services ul.services-list li.flowers h3 a {
	background: url(../img/text-floral.png) no-repeat;
	width: 100px;
	height: 30px;
}
#services ul.services-list li.consultant h3 a {
	background: url(../img/text-consultant.png) no-repeat;
	width: 432px;
	height: 77px;
}
#services ul.services-list li.catering h3 a {
	background: url(../img/text-catering.png) no-repeat;
	width: 365px;
	height: 45px;
}
#services ul.services-list li.decorations h3 a {
	background: url(../img/text-decorations.png) no-repeat;
	width: 328px;
	height: 38px;
}
#services ul.services-list li.packages h3 a {
	background: url(../img/text-packages.png) no-repeat;
	width: 132px;
	height: 44px;
}
#services ul.services-list li.invitations h3 a {
	background: url(../img/text-invitations.png) no-repeat;
	width: 166px;
	height: 25px;
}
#services ul.services-list li.special-events h3 a {
	background: url(../img/text-specialEvents.png) no-repeat;
	width: 244px;
	height: 50px;
}
#services ul.services-list li.cakes h3 a {
	background: url(../img/text-cakes.png) no-repeat;
	width: 254px;
	height: 44px;
}
#services ul.services-list li.music h3 a {
	background: url(../img/text-music.png) no-repeat;
	width: 230px;
	height: 86px;
}
#services ul.services-list li.lighting h3 a {
	background: url(../img/text-lighting.png) no-repeat;
	width: 296px;
	height: 45px;
}

/*******************************************

	@Section: Details Page Main

*******************************************/

#service-details #content {
	margin: -80px auto 100px;
	padding: 150px 25px 1px;
	font-size: 18px;
	/* Gradient Background - cross browser compliant */
	background: #43b8ce; /* Old browsers */
	background: -moz-linear-gradient(top, #43b8ce 0%, #D0C2AA 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43b8ce), color-stop(100%,#D0C2AA)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #43b8ce 0%,#D0C2AA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #43b8ce 0%,#D0C2AA 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #43b8ce 0%,#D0C2AA 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43b8ce', endColorstr='#D0C2AA',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #43b8ce 0%,#D0C2AA 100%); /* W3C */
	box-shadow: 0 5px 12px #333333;
	-moz-box-shadow: 0 5px 12px #333333;
	-webkit-box-shadow: 0 5px 12px #333333;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	behavior: url(/PIE.htc);
}
#service-details .left-side {
	float: left;
	width: 360px;
	padding-right: 40px;
	margin-bottom: 30px;
}
#service-details h3 { text-indent: -9999px; margin: 0 auto 40px;}
#service-details h4 {
	font-size: 24px;
	margin-bottom: 85px;
	float: left;
	width: 150px;
	padding-top: 6px;
}
#service-details h3.consultant-header {
	background: url(../img/text-consultant2.png) no-repeat 0 0;
	height: 91px;
	width: 684px;
}
#service-details h3.decorations-header {
	background: url(../img/text-decorations2.png) no-repeat 0 0;
	height: 45px;
	width: 335px;
}
#service-details h3.packages-header {
	background: url(../img/text-packages2.png) no-repeat center 0;
	width: 140px;
	height: 52px;
}
#service-details h3.invitations-header {
	background: url(../img/text-invitations2.png) no-repeat center 0;
	height: 33px;
	width: 173;
}
#service-details h3.specialEvents-header {
	background: url(../img/text-specialEvents2.png) no-repeat center 0;
	width: 603px;
	height: 157px;
}
#service-details h3.floral-header {
	background: url(../img/text-floral2.png) no-repeat center 0;
	width: 262px;
	height: 80px;
}
#service-details h3.cake-header {
	background: url(../img/text-cakes2.png) no-repeat center 0;
	width: 262px;
	height: 52px;
}
#service-details h3.music-header {
	background: url(../img/text-music2.png) no-repeat center 0;
	width: 468px;
	height: 53px;
}
#service-details h3.lighting-header {
	background: url(../img/text-lighting2.png) no-repeat center 0;
	width: 303px;
	height: 53px;
}
#service-details h3.catering-header {
	background: url(../img/text-catering2.png) no-repeat center 0;
	width: 373px;
	height: 53px;
}
a.btn-back {
	background: #000000 url(../img/btn-back.png) no-repeat center 6px;
	display: block;
	width: 71px;
	height: 15px;
	text-indent: -9999px;
	float: left;
	margin: -20px 0 0 30px;
	padding: 5px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 2px 2px 3px #000000;
	-moz-box-shadow: 2px 2px 3px #000000;
	-webkit-box-shadow: 2px 2px 3px #000000;
	behavior: url(/PIE.htc);
}

/*******************************************

	@Section: Service Details Page

*******************************************/

ul.img-row { margin: 0 25px 60px 29px; position: relative; height: 265px}
.music ul.img-row { height: 406px;}
ul.img-row li#img-1 {
	float: left;
	position: relative;
	z-index: 10;
}
ul.img-row li#img-2 {
	position: absolute;
	top: 30px;
	left: 377px;
	margin-left: -132px;
	z-index: 9;
}
ul.img-row li#img-3 {
	float: right;
	position: relative;
	z-index: 8;
}
ul.img-row li img {
	width: 255px;
	border: 5px solid #fffbe6;
	box-shadow: 1px 5px 12px #000000;
	-moz-box-shadow: 1px 5px 12px #000000;
	-webkit-box-shadow: 1px 5px 12px #000000;
	behavior: url(/PIE.htc);
}
#service-details .deets-container-1 p, .deets-container-2 p {
	line-height: 1.6;
	margin-bottom: 30px;
	text-align: center;
}
#service-details .deets-container-1 p.fancy {
	font-style: italic;
	font-size: 24px;
	line-height: 2;
}
.packages .deets-container-1 p.fancy, .packages .deets-container-2 p.fancy { line-height: 1.2 !important;}
#service-details .deets-container-1 ul {
	line-height: 1.6;
	text-align: center;
	margin-bottom: 30px;
	font-style: italic;
}
ul.price-description { float: left; width: 275px;}
ul.price-description li {
	text-align: right;
	text-transform: none;
	color: #000000;
}
ul.pricing { float: right; width: 275px;}
ul.pricing li {
	text-align: left;
	text-transform: none;
	color: #000000;
}
#service-details .deets-container-2 ul {
	line-height: 1.6;
	text-align: center;
	margin-bottom: 30px;
/*	font-style: italic;		*/
}
#service-details .deets-container-2 ul li { margin-bottom: 10px;}
#service-details .deets-container-1, #service-details .deets-container-2 {
	margin-bottom: 60px;
	padding: 25px 50px 10px;
	width: 650px;
	margin: 0 auto 60px;
	font-size: 24px;
	position: relative;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 0 20px #ffffff;
	-moz-box-shadow: 0 0 20px #ffffff;
	-webkit-box-shadow: 0 0 20px #ffffff;
	behavior: url(/PIE.htc);
}
#service-details .deets-container-2 {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 0 20px #ffffff;
	-moz-box-shadow: 0 0 20px #ffffff;
	-webkit-box-shadow: 0 0 20px #ffffff;
	behavior: url(/PIE.htc);
}
p.diy span, p.a-la-carte span, p.whole-package span {
	display: block;
	float: left;
	width: 125px;
	height: 100px;
	margin-right: 40px;
}
p.diy span, p.diy b, p.a-la-carte span, p.a-la-carte b, p.whole-package span, p.whole-package b { font-weight: bold;}
p.diy span, p.a-la-carte span, p.whole-package span { font-style: oblique;}

/*******************************************

	@Section: Gallery Page

*******************************************/

ul.ad-thumb-list { list-style-image: url(list-style.gif);}
pre {
	font-family: "Lucida Console", "Courier New", Verdana;
	border: 1px solid #CCC;
	background: #f2f2f2;
	padding: 10px;
}
#gallery { margin: 25px auto 75px;}

/*******************************************

	@Section: Contact Us Page

*******************************************/

#contact-us #content { margin-top: 80px;}
#contact-us #content .column-1 { float: left; width: 500px;}
#contact-us #content .column-1 h2.text-contactUs {
	background: url(../img/text-contactUs.png) no-repeat;
	width: 225px;
	height: 40px;
	text-indent: -9999px;
	margin-bottom: 50px;
}
#contact-us #content .column-1 h2.text-emailUsForm {
	background: url(../img/text-emailUsForm.png) no-repeat;
	width: 334px;
	height: 48px;
	text-indent: -9999px;
	margin-top: 100px;
}
#contact-us #content .phone, #contact-us #content .email { font-size: 24px; padding-bottom: 15px;}
#contact-us #content .email a:hover { text-decoration: underline;}
#contact-us #content .column-2 {
	background: url(../img/contact-img-1.jpg) no-repeat;
	width: 250px;
	height: 324px;
	float: right;
	margin: 0 50px 0 0;
	box-shadow: 3px 3px 8px #333333;
	-moz-box-shadow: 3px 3px 8px #333333;
	-webkit-box-shadow: 3px 3px 8px #333333;
	behavior: url(/PIE.htc);
}